.gradient {
    background: rgb(203,206,208);
background: linear-gradient(180deg, rgba(203,206,208,1) 35%, rgba(246,246,246,1) 100%);}
header {
    background: rgb(0,66,130);
    background: linear-gradient(180deg, rgba(0,66,130,1) 0%, rgba(0,212,255,1) 100%);
}